<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Achetez. Vendez. Partagez.</h1>
    <p class="lead text-muted">Trouvez la bonne affaire parmi <strong><%= Advertisement.count %> annonces</strong> sur labonneplace.</p>
    <p>
      <%= link_to new_advertisement_path, class: "btn btn-primary btn-lg my-2 mr-2" do %>
        <i class="far fa-edit"></i>
        Déposer une annonce
      <% end %>
      <a href="#" class="btn btn-outline-primary btn-lg my-2">
        <i class="fa fa-crosshairs"></i>
        Rechercher autour de moi
      </a>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="card-columns">
      <% @advertisements.each do |advertisement| %>
        <div class="card mb-4 shadow-sm">
          <% if advertisement.image.attachment.present? %>
            <%= image_tag advertisement.image, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= advertisement.title %>
            </h5>
            <p class="card-text">
              <strong class="txt-primary">
                <%= number_to_currency advertisement.price %>
              </strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to "Voir l'annonce", advertisement, class: "btn btn-sm btn-outline-secondary" %>
              </div>
              <small class="text-muted">
                <%= l advertisement.created_at, format: "%d/%m/%Y à %Hh%M" %>
              </small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
