<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Un site créé avec amour">
    <meta name="author" content="Rails Girls Nantes 2018">
    <%= favicon_link_tag "favicon.png" %>
    <title>labonneplace, site de fausses annonces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity: "sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin: "anonymous" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="collapse bg-rg" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">À propos</h4>
              <p class="text-muted">
                <strong>labonneplace</strong>, c'est l'endroit idéal pour déposer et consulter les annonces de l'univers entier&nbsp;!
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Nous suivre sur Twitter</a></li>
                <li><a href="#" class="text-white">Notre page Facebook</a></li>
                <li><a href="#" class="text-white">Écrivez-nous !</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-rg shadow-sm">
        <div class="container d-flex justify-content-between">
          <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
            <i class="mr-2 fa fa-map-marker-alt"></i>
            <strong>labonneplace</strong>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Haut de page <i class="fa fa-long-arrow-alt-up"></i></a>
        </p>
        <p><strong>labonneplace</strong>, une idée pas du tout originale de <a href="http://www.railsgirls-nantes.org/" target="_blank">Rails Girls Nantes</a>.</p>
        <p>Pas de &copy; ici, on veut juste commencer à apprendre à construire le Web.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
